.image-user{
    display: block;
    margin: auto;
}
.lists h2 {
    margin: 0px;
    background: aliceblue;
    padding: 8px 12px;
    border-radius: 14px;
}
.lessons {
    margin: 0px 20px;
}
.lesson-sub {
    font-size: 12px;
    color: #a2a2a2;
}
.progress {
    width: 100px;
}