<section class="logout">
    <a class="d-flex justify-content-between m-4">
        <h3>Logout</h3>
        <img src="../../assets/img/logout.png" alt="" width="25px" height="25px">
    </a>
    <div class="profile">
        <img src="../../assets/img/user.png" class="image-user" alt="" width="120px" height="120px">
        <h2 class="name text-center">{{userdata.fullName}}</h2>
        <p class="designation text-center">Student</p>
    </div>
    <div class="lists d-flex m-4 align-items-center justify-content-between">
        <div class="div d-flex">
            <h2>B2</h2>
        <div class="lessons">
            <div class="title">English</div>
            <div class="d-flex lesson-sub justify-content-between">
                <span>High intermediate</span>
            </div>
        </div>
        </div>
        <mat-progress-bar class="progress" mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="lists d-flex m-4 align-items-center justify-content-between">
        <div class="div d-flex">
            <h2>C1</h2>
        <div class="lessons">
            <div class="title">Spanish</div>
            <div class="d-flex lesson-sub justify-content-between">
                <span>Advanced</span>
            </div>
        </div>
        </div>
        <mat-progress-bar class="progress" mode="determinate" value="30"></mat-progress-bar>
    </div>
</section>
<app-remainders></app-remainders>