.drop-btn{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
.div1 {
    height: 15px;
    background-color: #4ec19e;
  }
  .div2 {
    height: 15px;
    background-color: #0c0b0b;
  }
  .div3 {
    height: 15px;
    background-color: #ff7156;
  }
  .div4 {
    height: 15px;
    background-color: #b68de2;
  }