<section class="courses">
    <div class="d-flex align-items-baseline justify-content-between heading m-4">
        <h3>Your courses</h3>
        <a href="#" class="d-flex">More <mat-icon class="right-arrow">arrow_right_alt</mat-icon>
        </a>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="col-3 lists">
            <div class="blue d-flex">
                <h2>B2</h2>
            <div class="lessons">
                <div class="title">Business English</div>
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Grammar</h3><mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
            </div>
        </div>
        <div class="col-3 lists">
            <div class="purple d-flex">
                <h2>B2</h2>
            <div class="lessons">
                <div class="title">Common English</div>
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Phrasal verbs</h3><mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
            </div>
        </div>
        <div class="col-3 lists">
            <div class="salmon d-flex">
                <h2>B2</h2>
            <div class="lessons">
                <div class="title">Business Spanish</div>
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Vocabulary</h3><mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>